.pokemon-details {
  font-size: 24pt;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-width: 400px;
  margin: 1rem .25em;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  border-radius: 10px;
  background-color: yellow;
  box-shadow: 2px 2px 4px grey;

  &__image-wrapper {
    width: 300px;
    height: 300px;
  }
}

