.pokemon-data-fetcher {
  width: 100%;
  font-size: 14pt;
  align-items: flex-start;
  &__load-more {
    cursor: pointer;
    text-decoration: underline;
    color: #3571FF;

    &:hover {
      color: #195AEE;
    }
  }
}

