.pagination-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 40px;
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  background-color: rgba(102, 51, 153, 0.4);
  border: 2px solid #CBCBCB;
  cursor: pointer;

  &:hover {
    background-color: rgba(102, 51, 153, 0.78);
  }

  &--active {
    background-color: rgba(102, 51, 153, 0.78);
  }

  &--disabled {
    background-color: inherit;

    &:hover {
      background-color: inherit;
    }
  }
}

